doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js')
    script(type='text/javascript' src='/javascripts/ChattyKathy.js')

  body
    block content
